{% extends 'base.html.twig' %}

{% block title %}
	{{ course.title }}
{% endblock %}

{% block body %}

	{% set a = course.author %}

	<div class="ad-title" style="background-color : #E9ECEF">

		<div class="container">

			<h1 class="text-center">
				{{ course.title }}
			</h1>

		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-3">
				<a href="{{ path('courses_delete', {'slug': course.slug})}}" class="btn btn-outline-danger btn-lg mt-4" onclick="return confirm(`Êtes vous sur de vouloir supprimer l'annonce : {{course.title}} ?`)">
					<i class="fas fa-trash fa-lg text-center"></i>
					Supprimer Le Cours
				</a>
			</div>
		</div>

		{% for video in course.videos %}

			<br><div class="row">

				<div class="col-md-8 mb-3">
					{{ video.iframe |raw }}
					<p>{{ video.title }}</p>
				</div>

				<div class="col">
					<h4>Vous suivez cette formation :</h4>
					<p>{{ video.title }}</p>

					<div class="row">
						<div class="col-2">
							<a href="{{path('user_show', {'slug' : a.slug})}}"><img class="avatar avatar-medium" src="{{a.picture}}"/></a>
						</div>

						<div class="col-8">
							<a href="{{path('user_show', {'slug' : a.slug})}}">
								<span>
									<strong>{{a.fullName}}</strong>
								</span>

								<span class="badge badge-primary">{{a.courses | length}}
									Réponses chez Open Free Learns
								</span>
							</a>
						</div>
					</div>

					<br><p>
						<strong>Le formateur :</strong>
						{{a.description}}</p>
					<hr>

					<p>
						<strong>Réponse à la question :</strong>
						{{ course.introduction | raw }}
						?
					</p>

					<a href="#" class="btn btn-outline btn-sm mt-4">Enregistrer dans ma playlist !</a>

					{% if app.user and app.user == course.author %}
						<a href="{{ path('courses_edit', {'slug' : course.slug }) }}" class="btn btn-outline btn-sm mt-4">Modifier mon cours</a>
					{% endif %}
				</div>

			</div><hr>

		{% endfor %}

	</div>
{% endblock %}
