{% extends 'admin/base.html.twig' %}

{% block title %}Tous les historiques
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<h1 class="my-5">Tous les historiques</h1>


		<table class="table table-hover">
			<thead>
				<tr class="table-light">
					<th>Image</th>
					<th>Etudiant</th>
					<th>A débuté le :</th>
					<th>Titre du cours :</th>
					<th>Formateur :</th>
					<th>Actions :</th>
				</tr>
			</thead>

			<tbody>

				{% for history in histories %}
					<tr>
						<td>
							<a href="{{ path('history_show', {'id': history.id}) }}">
								<img src="{{ history.course.coverImage }}" style="width:100px; height:50px;"/>
							</a>
						</td>
						<td>{{ history.student.fullName }}</td>
						<td>{{ history.createdAt | date }}</td>
						<td>{{ history.course.title  }}</td>
						<td>{{ history.course.author.fullName}}</td>
						<td>
							<a href="{{path('admin_histories_edit', {'id': history.id})}}" class="btn btn-secondary">
								<i class="fas fa-edit fa-lg"></i>
							</a>
							<a href="{{path('admin_histories_delete', {'id': history.id})}}" class="btn btn-secondary">
								<i class="fas fa-trash fa-lg"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
