{% extends 'admin/base.html.twig' %}

{% block title %}Administration des utilisateurs
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<h1 class="my-5">Administration des utilisateurs</h1>


		<table class="table table-hover">
			<thead>
				<tr class="table-light">
					<th>Id</th>
					<th>Avatar</th>
					<th>Prenom</th>
					<th>Nom</th>
					<th>Email</th>
					<th>Description</th>
					<th>Rôles :</th>
					<th>Actions :</th>
				</tr>
			</thead>

			<tbody>

				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>
							<a href="{{ path('user_show', {'slug': user.slug}) }}">
								<img src="{{ user.picture }}" class="avatar-medium"/>
							</a>
						</td>
						<td>{{ user.firstName }}</td>
						<td>{{ user.lastName }}</td>
						<td>{{ user.email  }}</td>
						<td>{{ user.description  }}</td>
						<td>
							{% for u in user.userRoles %}
								<p>{{ u.title }}</p>
							{% endfor %}
						</td>
						<td>
							<a href="{{path('admin_users_edit', {'slug': user.slug})}}" class="btn btn-secondary">
								<i class="fas fa-edit fa-lg"></i>
							</a>
							<a href="{{path('admin_users_delete', {'slug': user.slug})}}" class="btn btn-secondary" onclick="return confirm(`Êtes vous sur de vouloir supprimer l'utilisateur : {{user.fullName}} ?`)">
								<i class="fas fa-trash fa-lg"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>


{% endblock %}
