{% extends 'base.html.twig' %}

{% block title %}Votre historique
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{path('homepage')}}">Home</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{path('account_index')}}">Mon Compte</a>
		</li>
		<li class="breadcrumb-item active">Historique</li>
	</ol>

	<div class="container-fluid">

		<h1 class="h2 my-4">Mon historique</h1>

		<table class="table table-hover">

			<thead>
				<tr class="table-light">
					<th scope="row">
						<h5>
							Réponses Vidéos
						</h5>
					</th>

					<th></th>

					<th scope="row">
						<span>Dernières Activités
						</span>
					</th>
				</tr>
			</thead>

			<tbody>
				{% for history in app.user.histories  %}
					{% set c = history.course %}
					<tr>
						<td>
							<img src="{{ c.coverImage }}" alt="Photo de l'annonce {{c.title}}" class="img-fluid" style="width:175px; height:100px;">
						</td>
						<td>
							<h5>{{c.title}}</h5>
							<p>{{c.introduction}}
								<a href="{{ path('history_show', {'id': history.id}) }}" class="">
									Voir le détail
								</a>
							</p>

						</td>
						<td>
							<p>{{history.createdAt | date('d/m/yy')}}</p>
							{% set difference = date("now").diff(date(history.createdAt)) %}{% set leftDays = difference.days %}
							{% if leftDays == 1 %}
								<p>Il ya a 1 jour</p>
							{% else %}
								Il y a
								{{ leftDays }}
								jours
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
