{% extends 'base.html.twig' %}

{% block title %}Modification du profil utilisateur
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-9 m-auto">
				<div class="bg-light py-3 px-3">

					<h1 class="my-3 text-center">Modifier mon profil</h1><br>

					{{ form_start(form) }}
					{{ form_row(form.firstName) }}
					{{ form_row(form.lastName) }}
					{{ form_row(form.email) }}
					{{ form_row(form.picture) }}
					{{ form_row(form.description) }}

					<button type="submit" class="btn btn-primary float-right">
						<i class="fas fa-check"></i>
						Enregistrer les modifications
					</button>

					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>


{% endblock %}
