{% extends 'base.html.twig' %}

{% block title %}Détail de mon historique
{% endblock %}

{% block body %}

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{path('homepage')}}">Home</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{path('account_index')}}">Mon Compte</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{path('account_histories')}}">Historique</a>
		</li>
		<li class="breadcrumb-item active">Détails</li>
	</ol>

	<div class="container-fluid">
		<h1 class="h2 my-4">Détail de mon historique</h1>
		<table class="table table-hover">
			<thead>
				<tr class="table-light">
					<th>Image</th>
					<th>Etudiant</th>
					<th>A débuté le :</th>
					<th>Titre du cours :</th>
					<th>Formateur :</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="{{ history.course.coverImage }}" style="width:175px; height:100px;" class="img-fluid"/></td>
					<td>{{ history.student.fullName }}</td>
					<td>{{ history.createdAt | date }}</td>
					<td>{{ history.course.title }}</td>
					<td>{{ history.course.author.fullName}}</td>
				</tr>
			</tbody>
		</table>
	</div>

{% endblock %}
